<%= form_with model: instructor do |form| %>
  <div>
    <%= form.label :name, 'Nome' %><br>
    <%= form.text_field :name %>
    <% instructor.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :email, 'Email' %><br>
    <%= form.email_field :email %>
    <% instructor.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :bio, 'Descrição' %><br>
    <%= form.text_area :bio %>
  </div>

  <div>
    <%= form.label :profile_picture, 'Foto de perfil' %>
    <%= form.file_field :profile_picture %>
  </div>

  <div>
    <%= form.submit 'Cadastrar professor' %>
  </div>
<% end %>