<section class="section">
<h1>Cursos</h1>

<% if @courses.empty? %>
  <h2>Nenhum curso disponível</h2>
<% end%>

<% @courses.each do |course| %>
  <div>
    <h2><%= link_to course.name, course %></h2>
    <p><%= course.description %></p>
    <p><%= number_to_currency(course.price, unit: "R$", separator: ",", delimiter: "", format: "%u %n") %></p>
  </div>
<% end%>

<%= link_to 'Registrar um Curso', new_course_path %>
<%= link_to 'Voltar', root_path %>
</section>
